{% load bootstrap5 %}
{% load humanize %}
{% load l10n %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'header.html' %}


<div class="wrapper">

<div class="profile" id="profile-{{profile.id}}">
    {% if own_profile %}
        <a href="/useraccount/{{profile.subject.id}}/edit">EDIT YOUR INFO</a>
    {% endif %}
    <h2>{{profile.subject.name}}</h2>
    <img src="/media/{{profile.subject.profile_photo}}" style="float:left;height:200px;">
    <!--<p><span class="label">Joined:</span> {{profile.subject.created_on|naturalday}}</p>-->
    {% localize on %}
    <p><span class="label">Joined:</span> {{ seconds_since | intword}} seconds ago</%p>
    {% endlocalize %}
    <p><span class="label">Birthday:</span> {{profile.subject.birthday}}</p>

    <div class="profile-about">
        {{profile.subject.about}}
    </div>
</div>

<span class="label">The latest from {{profile.subject.first_name}}:</span>
{% include 'feed.html' %}



</div>